#formFound {
    text-align: center; 
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    box-shadow: 0 3px 6px #f3f3f3, 0 3px 6px #f3f3f3;

/*    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;*/
}

#formFound #formFoundField{
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #f3f3f3;
    background-color: rgba(120, 125, 124, 0.2);

/*    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;*/
}

#formFound  #formFoundField input{
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    font-family: Lato;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #ffffff;
    margin: 10px 0;
    text-transform: none;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;

/*    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;*/
}

#formFound  #formFoundField select{
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    font-family: Lato;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #ffffff;
    margin: 10px 0;
    text-transform: none;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;

/*    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;*/
}

#formFound  #formFoundField button{
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    font-family: Lato;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #ffffff;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;

/*    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;*/
}

#formFound #formFoundField textarea {
    border-right-style: none;
    border-bottom-style: none;
    height: 200px;
    max-height: 200px;
    width: 406px;
    max-width: 406px;
    border-radius: 4px; 
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #ffffff;
    margin: 10px 0;
    text-transform: none;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    color:black;
    padding: 10px;

/*    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;*/
}

#formFound #formFoundField .upload {
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    font-family: Lato;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #bdbdbd;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    background-image: url(../images/icons/update.png);
    background-repeat: no-repeat;
    background-position:center;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

#formFound #formFoundField .upload input {
    display: block !important;
    width: 100% !important;
    height: 30px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
}

#formFound  #formFoundField .btn-send{
    background-color: #5bc4bf;
    color: #fff;
}

#formFound  #formFoundField .btn-cancel{
    background-color: #f6a0a1;
    color: #fff;
}


#formFound  #formFoundField .btn-send:hover{
    background-color: #bdbdbd; 
    transition: 1s;
}

#formFound  #formFoundField .btn-cancel:hover{
    background-color: #bdbdbd; 
    transition: 1s;
}
 
/*********************** Responsive Navigation **************************/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 860px) {

}

/* Small Devices, Tablets */ 
@media only screen and (max-width : 640px) {
    #formFound  #formFoundField input,
    #formFound  #formFoundField select,
    #formFound  #formFoundField textarea,
    #formFound  #formFoundField .btn-send,
    #formFound  #formFoundField .btn-cancel {
        height: 30px;
        width: 45%;
        margin: 5px 0;
    }
   #formFound #formFoundField {
        text-align: center;
        padding-top: 5px;
    }
     #formFound  #formFoundField textarea {
        height: 100px;
        max-height: 100px;
        width: 45%;
        max-width: 45%;
    }
    #formFound #formFoundField .upload {
        width: 45%;
        height: 30px;
    }
    #formFound  #formFoundField {
        padding: 5px 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 480px) {
    #formFound  #formFoundField input,
    #formFound  #formFoundField select,
    #formFound  #formFoundField textarea,
    #formFound  #formFoundField .btn-send,
    #formFound  #formFoundField .btn-cancel {
        height: 30px;
        width: 90%;
        margin: 5px 0;
    }
    #formFound  #formFoundField textarea {
        height: 100px;
        max-height: 100px;
        width: 90%;
        max-width: 90%;
    }

    #formFound #formFoundField .upload {
        width: 90%;
        height: 30px;
    }
    
}