.pagini {
	width: 100%; 
	box-sizing: border-box ;
	margin-top: 40px;
	color: white;
}

.pagini li { 
	display: inline-block;
	width: 25px;
	padding: 0 10px; 
	background-color: #5BC4BF;
    border: 1px dotted #fff; 
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    font-family: Lato;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    padding: 0 10px; 
    margin: 10px 0;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    background-color: #5BC4BF; 
}

.pagini li a {
	line-height: 2.5; 
	box-sizing: border-box ; 
	text-align: center;
	width: 100%;
	color: white; 
	float: left;
}