article.toateAnunturi {
    max-width: 1020px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    box-shadow: 0 3px 6px #f3f3f3, 0 3px 6px #f3f3f3;
    border-top: 1px solid#f3f3f3;
}

.toateAnunturi #toateAnunturi {
    width: 100%;
    height: 100%;
}

.toateAnunturi #toateAnunturi .tot {
    width: 100%;
    box-sizing: border-box;
    background-color: #5BC4BF;
}

.toateAnunturi #toateAnunturi .tot ul {
    height: 50px;
    text-transform: uppercase;
    width: 100%;
    display: inline-flex;
    box-sizing: border-box;
}

.toateAnunturi #toateAnunturi .tot ul li {
    width: 19%;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    line-height: 3;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.toateAnunturi #toateAnunturi .tot ul li:first-child {
    width: 5%;
}

.toateAnunturi #toateAnunturi .listaObiecte {
    width: 100%;
    height: 100%;
}

.toateAnunturi #toateAnunturi .listaObiecte ul {
    width: 100%;
    height: 100%;
}

.toateAnunturi #toateAnunturi .listaObiecte ul li {
    width: 19%;
    height: 100%;
    float: left;
    margin: 10px 0;
    box-sizing: border-box;
    padding-left: 5px;
    line-height: 1.7;
}

.toateAnunturi #toateAnunturi .listaObiecte ul li:first-child {
    width: 5%;
    text-align: center;
    font-weight: bold;
}

.toateAnunturi #toateAnunturi .listaObiecte ul li img {
    float: right;
    padding: 0 12px 0 0;
}

.toateAnunturi #toateAnunturi .listaObiecte ul li img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.toateAnunturi #toateAnunturi .listaObiecte .infoText {
    background-color: red;
    width: 100%;
    height: auto;
    /*display: inline-block;*/
    background-color: rgba(120, 125, 124, 0.2);
    padding: 5px;
    box-sizing: border-box;
    /*display: none;*/
}

.toateAnunturi #toateAnunturi .listaObiecte .infoText .infoTextObiect {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.toateAnunturi #toateAnunturi .listaObiecte .infoText .infoTextObiect .leftText {
    line-height: 2;
    float: left;
    width: 100%;
}

.toateAnunturi #toateAnunturi .listaObiecte .infoText .infoTextObiect .leftText p {
    font-weight: bold;
    text-transform: uppercase;
}

.toateAnunturi #toateAnunturi .listaObiecte .infoText .infoTextObiect .rightText {
    line-height: 2;
    float: left;
    width: 100%;
}

.toateAnunturi #toateAnunturi .listaObiecte .infoText .infoTextImg {
    width: 100%;
    height: 100%;
    float: right;
    text-align: center;
}

.toateAnunturi #toateAnunturi .listaObiecte .infoText .infoTextImg img {
    max-width: 70%;
    height: auto;
    max-height: 500px;
    border: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: 5px solid white;
    box-shadow: 0 3px 6px grey, 0 3px 6px grey;
}

.toateAnunturi #toateAnunturi .listaObiecte .infoText .infoTextOpen {
    width: 100%;
    float: right;
}

.toateAnunturi #toateAnunturi .listaObiecte .infoText .infoTextOpen img {
    width: 24px;
    height: 24px;
    padding: 0 6px 12px 0;
    float: right;
}

.toateAnunturi #toateAnunturi .listaObiecte .infoText .infoTextOpen img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hidden {
    display: none;
}

.active {
    display: inline-block;
}


/*********************** Responsive Navigation **************************/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1024px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 860px) {}

@media only screen and (max-width: 640px) {
    .toateAnunturi #toateAnunturi .tot ul {
        height: 30px;
    }
    .toateAnunturi #toateAnunturi .listaObiecte ul li img {
        height: 15px;
        padding: 0 5px 0 0;
    }
    .toateAnunturi #toateAnunturi .listaObiecte .infoText .infoTextOpen img {
        width: 15px;
        height: 15px;
        padding: 0 0px 5px 0;
    }
}