article.user {
    max-width: 1020px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    box-shadow: 0 3px 6px #f3f3f3, 0 3px 6px #f3f3f3;
    border-top: 1px solid#f3f3f3;
}

article.user #anunturiUtilizator {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
}

.listaPostari,
.informatiileMele {
    width: 100%;
    box-sizing: border-box;
    background-color: #5BC4BF;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    line-height: 3;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 5px;
}

.anunturiUtilizator .infoAnunt {
    width: 100%;
}

.anuntulMeu {
    background-image: url('../images/icons/announcement.png');
}

.editareAnunt {
    background-image: url('../images/icons/edit.png');
}

.eliminareAnunt {
    background-image: url('../images/icons/delete.png');
}

.vizualizareAnunt {
    background-image: url('../images/icons/seen.png');
}

#anunturiUtilizator     {
    padding-left: 30px;
    line-height: 1.5;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 20px;
    border: none; 
    outline: none; 
    float: left;
    margin: 10px 0;
    box-sizing: border-box;
    padding-left: 30px;
}

#infoMele .infoMele label {
    width: 50px;
}

#infoMele .infoMele input {
    margin-left: 20px;
    border: none;
    border-bottom: 1px dotted #5BC4BF;
    outline: none;
    width: 300px;
}

#infoMele .infoMele {
    padding: 0 5px;
}

.infoAnunt {
    width: 100%;
    margin: 10px 0; 
}

.infoAnunt .placeInfo {
    width: 25%;
    float: left;
    border-bottom: 1px dotted #F6A0A1;
    padding: 5px;
    box-sizing: border-box;
}


 .anuntInfos {
    width: 25%;
    padding-left: 30px;
    line-height: 1.5;
    background-size: 24px 24px;
    background-repeat: no-repeat; 
    margin-left: 20px;
    border: none; 
    outline: none;
    height: 25px;
    float: left;
    margin: 10px 0;
    box-sizing: border-box;
    padding-left: 30px;
 }

.infoAnunt   { 
    line-height: 1.5;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 20px;
    border: none;
    border-bottom: 1px dotted #5BC4BF;
    outline: none;
    height: 40px;
    float: left;
    margin: 10px 0;
    box-sizing: border-box;
}
#modalAnunt {
    width: 700px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    border: 1px dotted #5BC4BF;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
}
#modalAnunt h1{
    text-align: center;
}
 
#modalAnunt .dateModalAnunt input, select {
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    font-family: Lato;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #ffffff;
    margin: 10px 0;
    text-transform: none;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
}
#modalAnunt .dateModalAnunt .upload {
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    font-family: Lato;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #bdbdbd;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    background-image: url(../images/icons/update.png);
    background-repeat: no-repeat;
    background-position:center;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}
#modalAnunt .dateModalAnunt .upload input {
    display: block !important;
    width: 100% !important;
    height: 30px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
}
#modalAnunt .salveazaEditare, #modalAnunt .anuleazaEditare {
    border-right-style: none;
    border-bottom-style: none;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    font-family: Lato;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #ffffff;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
}

#modalAnunt .salveazaEditare{
    background-color: #5bc4bf;
    color: #fff;
}

#modalAnunt .anuleazaEditare{
    background-color: #f6a0a1;
    color: #fff;
}

#modalAnunt .salveazaEditare:hover{
    background-color: #bdbdbd; 
    transition: 1s;
}

#modalAnunt .anuleazaEditare:hover{
    background-color: #bdbdbd; 
    transition: 1s;
}

#modalAnunt #inchideModal {
    width: 30px;
    float: right;
}

.hidden {
    display: none;
}

.active {
    display: block;
}